
head
    title p/s :: Search   
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/dynatable/jquery.dynatable.js')
    script(src='/js/scraper.js')
    script(src='/js/client-app.js')
    link(rel='stylesheet', href='/bower_components/bootstrap-css/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/dynatable/jquery.dynatable.css')
    link(rel='stylesheet', href='/styles/app.css')

